@model List<Web.Models.LinkModel>

<ul>
@foreach (var item in Model)
{
    <li>
        <div class="link-referer-description">
            <a href='@Url.Action("Index", "Links", new { Id = item.Link.ToInt() })'>
                @Html.Partial("LinkRefererDescription", item.Link)
            </a>
        </div>
    
        @if (item.ReferersModels.Count > 0)
        {
            @Html.Partial("LinkReferersList", item.ReferersModels);
        }
    </li>
}
</ul>