@model LinkModel
@{
    ViewData["Title"] = System.Globalization.CultureInfo.CurrentCulture.TextInfo.ToTitleCase(Model.Link.ToString());
}
<div class="link-view">
    <h2>@ViewData["Title"]</h2>
    <div class="link-description">
        <partial name="LinkDescription" model='Model.Link' />
    </div>
    <div>
        <partial name="LinkReferersList" model='Model.ReferersModels' />
    </div>
</div>