@model List<LinkModel>
<ul>
@foreach (var item in Model)
{
    <li>
        <div class="link-referer-description">
            <a href='@Url.Action("Index", "Links", new { Id = item.Link.ToInt() })'>
                <partial name="LinkRefererDescription" model="item.Link" />
            </a>
        </div>
        @if (item.ReferersModels.Count > 0)
        {
            <partial name="LinkReferersList" model="item.ReferersModels" />
        }
    </li>
}
</ul>