body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

/* Links */

.link-view
{
	border-collapse: collapse;
	font-size: 16px;
}

.link-view a
{
	color: Black;
	text-decoration: none;
}

.link-view a:hover
{
	text-decoration: underline;
}

.link-view .source,
.link-view .source a,
.link-view .target,
.link-view .target a
{
	color: Blue;
}

.link-view .linker,
.link-view .linker a
{
	color: Green;
}

.link-view .link-description,
.link-view .link-referer-description
{
	padding: 7px 8px;
	border-collapse: collapse;
	background-color: rgba(190,205,222,0.2);
}

.link-view ul
{
	margin: 0px;
	padding: 0 0 0 50px;
	background-color: rgba(190,205,222,0.2);
}

.link-view li
{
	list-style-type: none;
}