@model Platform.Links.DataBase.WebTerminal.Models.LinkModel

@{
    ViewBag.Title = TextHelpers.CapitalizeFirstLetter(Model.Link.ToString());
}

<div class="link-view">
    <h2>@ViewBag.Title</h2>

    <div class="link-description">
        @Html.Partial("LinkDescription", Model.Link)
    </div>
    <div>
        @Html.Partial("LinkReferersList", Model.ReferersModels)
    </div>
</div>
