@model List<Platform.Links.DataBase.WebTerminal.Models.LinkModel>

@if (Model.Count > 0)
{
    <ul>
        @foreach (var item in Model)
        {
            <li>
                <div class="item">
                    <a href='@Url.Action("Index", "Links", new {Id = item.Link.ToInt()})'>
                        @Html.Partial("LinkRefererDescription", item.Link)
                    </a>
                </div>

                @if (item.ReferersModels.Count > 0)
                {
                    @Html.Partial("InfiniteLinkReferersList", item.ReferersModels)
                    ;
                }
            </li>
        }
    </ul>
}