@model Link

<span class="link">
    <span class="source">@Model.Source.ToString()</span>
    <span class="linker">@Model.Linker.ToString()</span>
    <span class="target">@Model.Target.ToString()</span>
</span>
